#main {
    padding-left: 20px;
}

.noticia {
    padding-left: 80px;
    padding-right: 80px;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header{
    width: 100%;
    height: 80px;
    background-color: olivedrab;
} */

/* header nav{
    width: 80%;
    height: auto;
    margin:auto;
    padding: 5px;
    
} */

nav ul{
    list-style: none;
}


:root {
    --header-color:#0d5d56; /*#0d5d56*/
    --presentacion-color:#c994cd;/*#8fd5a6*/
    --footer-color::#0d5d56;
    --body-color:#c994cd;
    --linea-color:#112631;
    --contenido-color:#9aacab;
}


@font-face {
    font-family: "Segoe UI";
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf') format('truetype');
}

html {
    margin:0%;
    padding:0%;
}

body {
    margin:0%;
    padding:0%;
    background-color: var(--body-color);
    font-family: "Segoe UI", "PT Sans", Calibri, Tahoma, sans-serif;
}


header {
    background-color:var(--header-color); 
    height: 60px;
}

#logo {
    height:100%;
}

header * {
    display:inline;
    vertical-align: middle;
    color:black;
}


#links {
    position:absolute;
    right:0px;
    top:2%;
}

#links a {
    margin-right:50px;

}

#linea {
    background-color: var(--linea-color);
    height: 8px;
}

main{
    padding-top: 100px;
}

.fuente {
    font-style: italic;
}

.lista  {
    list-style: none;
    border-style:dotted;
    border-width: 0.1px;
    border-color: #0d5d56;
    padding: 3px;
}

#lista1 {
    background: url(../img/newsletterr.png);
    background-repeat: no-repeat;
    background-position: 125cqh;
    background-size: 32%;
    background-blend-mode: color-burn;
    display: grid;
    grid-template-columns: 20vw 35vw;
    grid-template-rows: 5vh 5vh 5vh 5vh 12vh 5vh 5vh 5vh;  
    gap: 20px;
}

#lista2 {
   
    display: grid;
    grid-template-columns: 15vw 20vw ;
    grid-template-rows: 5vh 5vh 5vh 5vh;
    gap: 5px;
    
}



/* #newsletter-pic {
    grid-column: 2/4;
    grid-row: 1/10;
} */

#boton-susc {
    text-align: center;
}

