body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: olivedrab;
}

footer{
    width: 100%;
    height: 70%;
    background-color: olivedrab;
}

header nav{
    width: 80%;
    height: auto;
    margin:auto;
    padding: 5px;
    
}

header h1{
    color: rgb(177, 169, 169);
    background-color: rgb(10, 113, 10);
}

nav ul{
    list-style: none;

}


.menu > li{
    position: relative;
    display: inline-block;

}

.menu > li > a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    padding: 10px 10px;

}

.menu > li:hover>.sub-menu{
    opacity: 1;
    visibility:visible;
}

.menu li a:hover{
    color: darkolivegreen;
}

/*submenu desplegable dentro de "nuestros cursos"*/

.sub-menu{
    position: absolute;
    background-color: rgb(41, 60, 39);
    width:70% ;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    
}

.sub-menu > li > a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 10px 10px;
    

}

main{
    padding-top: 100px;
}

.galeria{
  
  display: flex;
  overflow-y:auto;
  padding:20px;
  
}

.card{
    margin-right: 10px;
    position: relative;
    
}

.cuerpo-card{
    position: absolute;
    bottom: 0;
    padding: 10px;  
    background-color: rgba(96, 116, 106, 0.5); 
    color: white;
    

}

.cuerpo-card h5,
.cuerpo-card p{
    margin: 0;

}

.card img{
   width: 200px;
   object-fit: cover;
   height: 300px;

}

.redes{
   justify-content: space-between;
   align-items: center;

}

.red{
   height: auto;
   width: auto;
   max-width: 30px;
   max-height: 30px;
   


}

.icon{
    max-width: 30px;
    max-height: 30px;
}

