* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #C993CD;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer{
    width: 100%;
    height: 70%;
    background-color: #7F5C80;
}

main h2{
    text-align: center;
    padding-top: 0.3vh;
    padding-bottom: 1vh;
}

main article p {
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: larger;
    font-weight: 600;
    display: inline;
}

.galeria > .card > .cuerpo-card > h3 {
    text-align: center;
}

.texto1 {
    background-image: url(../img/1.jpeg);
    background-size: cover;
    background-position: center;
    border-width: medium;
    border-style: solid;
    border-color: var(--linea-color);
    border-radius: 80px 20px;
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr;
    grid-template-rows:0.6fr 1fr;
    margin: 1em;
}

.texto2 {
    background-image: url(../img/2.jpeg);
    background-size: cover;
    background-position: center;
    border-width: medium;
    border-style: solid;
    border-color: var(--linea-color);
    border-radius: 80px 20px;
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
    margin: 1em;
}

.texto3 {
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    border-width: medium;
    border-style: solid;
    border-color: var(--linea-color);
    border-radius: 80px 20px;
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
    margin: 1em;
}

.parrafo {
    visibility: visible;
}

.titulo-index {
    color: white;
}

.menu > li{
    position: relative right;
    display: inline-block;
}

#bienvenida {
    color: white;
    background-color: var(--header-color);
    text-align: center;
}

.galeria{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#cursos {
    text-align: center;
    font-size: 2em;
    background-color: var(--linea-color);
}

.redes{
   justify-content: space-between;
   align-items: center;
}

.red{
   height: auto;
   width: auto;
   max-width: 30px;
   max-height: 30px;
}

.icon{
    max-width: 30px;
    max-height: 30px;
}

.texto {
    color: white;
} 

:root {
    --header-color:#0d5d56; /*#0d5d56*/
    --presentacion-color:#c994cd;/*#8fd5a6*/
    --footer-color::#0d5d56;
    --body-color:#c994cd;
    --linea-color:#112631;
    --contenido-color:#9aacab;
}


@font-face {
    font-family: "Segoe UI";
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf') format('truetype');
}

html {
    margin:0%;
    padding:0%;
}

body {
    margin:0%;
    padding:0%;
    background-color: var(--body-color);
    font-family: "Segoe UI", "PT Sans", Calibri, Tahoma, sans-serif;
}


header {
    background-color:var(--header-color); 
    height: 60px;
    
}

#logo {
    height:100%;
}

header * {
    display:inline;
    vertical-align: middle;
    color:black;
}


#links {
    position:absolute;
    right:0px;
    top:2%;
}

#links a {
    margin-right:50px;

}

#linea {
    background-color: var(--linea-color);
    height: 8px;
}

.card {
    margin-left: 7px;
    margin-right: 10px;
    position: relative;
    
}

.cuerpo-card {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 190px;
    bottom: 4px;
    padding: 5px;  
    
}

.cuerpo-card h3, p {
    visibility: hidden;
    color: white;
}


.card img {
    width: 200px;
    object-fit: cover;
    height: 300px;
   
}

/* .card:hover .cuerpo-card {
    visibility: visible;
    opacity: 70%; 
    transition: 0.5s ease-in; 
} */

@keyframes transicion {
    from {background-color: white;}
    to {background-color: darkslategrey;}
}

.cuerpo-card:hover p{
    opacity: 80%;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    visibility: visible;
    animation: transicion 0.5s ease-in 0.3s 1 forwards forwards running;
    transition: 0.5s ease-in-out; 
}
.cuerpo-card:hover{
    opacity: 80%;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    visibility: visible;
    animation: transicion 0.5s ease-in 0.3s 1 forwards forwards running;
    transition: 0.5s ease-in-out; 
}
.cuerpo-card:hover h3{
    opacity: 80%;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    visibility: visible;
    animation: transicion 0.5s ease-in 0.3s 1 forwards forwards running;
    transition: 0.5s ease-in-out; 
}

@media screen and (max-width: 767px) {
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    body{
        background-color: #C993CD;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    
    footer{
        width: 100%;
        height: 70%;
        background-color: #7F5C80;
    }
    
    main h2{
        text-align: center;
        font-size:1.1em;
        padding-top: 0.3vh;
        padding-bottom: 0vh;
    }
    
    main article p {
        padding-right: 1vw;
        padding-left: 1vw;
        font-size: 1em;
        font-weight: 600;
        display: inline;
    }
    
    .galeria > .card > .cuerpo-card > h3 {
        text-align: center;
    }
    
    .texto1 {
        background-image: url(../img/1.jpeg);
        background-size: cover;
        background-position: center;
        border-width: medium;
        border-style: solid;
        border-color: var(--linea-color);
        border-radius: 40px 10px;
        display: grid;
        height: 32vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        margin: 1em;
    }
    
    .texto2 {
        background-image: url(../img/2.jpeg);
        background-size: cover;
        background-position: center;    
        border-width: medium;
        border-style: solid;
        border-color: var(--linea-color);
        border-radius: 40px 10px;
        display: grid;
        height: 32vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        margin: 1em;
    }
    
    .texto3 {
        background-image: url(../img/3.jpg);
        background-size: cover;
        background-position: center;
        border-width: medium;
        border-style: solid;
        border-color: var(--linea-color);
        border-radius: 40px 10px;
        display: grid;
        height: 25vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        margin: 1em;
    }
    
    .parrafo {
        visibility: visible;
    }
    
    .titulo-index {

        color: white;

    }
    
    .menu > li{
        position: relative right;
        display: inline-block;
    }
    
    #bienvenida {
        color: white;
        background-color: var(--header-color);
        text-align: center;
    }
    
    .galeria{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr, 1fr;
    }
    
    #cursos {
        text-align: center;
        width: 80%;
        margin-left: 1.3em;
        padding: 0.4em;
        border-radius: 10px;
        align-items: center;
        font-size: 1.2em;
        background-color: var(--linea-color);
    }
    
    .redes{
       justify-content: space-between;
       align-items: center;
    }
    
    .red{
       height: auto;
       width: auto;
       max-width: 30px;
       max-height: 30px;
    }
    
    .icon{
        max-width: 30px;
        max-height: 30px;
    }
    
    .texto {
        color: white;
    } 
    
    :root {
        --header-color:#0d5d56; /*#0d5d56*/
        --presentacion-color:#c994cd;/*#8fd5a6*/
        --footer-color::#0d5d56;
        --body-color:#c994cd;
        --linea-color:#112631;
        --contenido-color:#9aacab;
    }
    
    
    @font-face {
        font-family: "Segoe UI";
        src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
        src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf') format('truetype');
    }
    
    html {
        margin:0%;
        padding:0%;
    }
    
    body {
        margin:0%;
        padding:0%;
        background-color: var(--body-color);
        font-family: "Segoe UI", "PT Sans", Calibri, Tahoma, sans-serif;
    }
    
    
    header {
        background-color:var(--header-color); 
        height: 100px;
        
    }
    
    #logo {
        height:60%;
    }
    
    header * {
        display:inline;
        vertical-align: middle;
        color:black;
    }
    

    
    #links {
       
      
        align-items: center;
        align-content: space-around;
        bottom:2%;
        right: 20px;
    }
    
    #links a {
        margin-right:0px;
        font-size: 0.7em;
    }
    
    #linea {
        background-color: var(--linea-color);
        height: 8px;
    }
    
    .card {
        margin-left: 7px;
        margin-right: 10px;
        position: relative;
        

    }
    
    .cuerpo-card {
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 97px;
        bottom: 4px;
        padding: 5px;
        z-index: 2;
      
        
    }
    
    .cuerpo-card h3, p {
        visibility: hidden;
        color: white;
        font-size: 0.6em;
    }
    
    
    .card img {
        width: 105px;
        object-fit: cover;
        height: 160px;
       
    }
    
    /* .card:hover .cuerpo-card {
        visibility: visible;
        opacity: 70%; 
        transition: 0.5s ease-in; 
    } */
    
    @keyframes transicion {
        from {background-color: white;}
        to {background-color: darkslategrey;}
    }
    
    .cuerpo-card:hover p{
        opacity: 80%;
        background-color: black;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        visibility: visible;
        animation: transicion 0.5s ease-in 0.3s 1 forwards forwards running;
        transition: 0.5s ease-in-out; 
    }
    .cuerpo-card:hover{
        opacity: 80%;
        background-color: black;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        visibility: visible;
        animation: transicion 0.5s ease-in 0.3s 1 forwards forwards running;
        transition: 0.5s ease-in-out; 
    }
    .cuerpo-card:hover h3{
        opacity: 80%;
        background-color: black;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        visibility: visible;
        animation: transicion 0.5s ease-in 0.3s 1 forwards forwards running;
        transition: 0.5s ease-in-out; 
    }
}