:root {
    background-color: #c993cd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Roboto', sans-serif;
}

#imagen-faq{
    display: block;
    margin-top: 10px;
    align-content: end;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

@font-face {
    font-family: "Segoe uI";
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf') format('truetype');
}

html {
    margin: 0%;
    padding: 0%        
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.header {
    background-color:#0d5c56;
}

#name {
    color: black;
}

a {
    text-decoration: none;
}

.header__nav { 
    padding: 20px;
    border-radius: 10px;    
    text-align: right;
}

.nav__li {
    text-align: right;
    display: inline;
    margin-right: 50px;
}

.nav__li__a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.main {
    color: white;
    margin: 0%;
    padding: 0%;
}

.main 

.main__title { 
    color: black;
    background-color: #c993cd;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
}

.main__title h1 { 
    margin-top:0px;
    padding-top:0px;
}

.main__question {
    font-size: 25px;
    background-color: #7F5D80;
    padding: 20px;
    border-radius: 10px;
}

.main__question__answer {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    padding-bottom: 30px;
    text-align: justify;
    background-color: #2c5f7a;
    border-radius: 10px;
}

.footer { 
    background-color: #0d5c56;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
}

.section__form {
    font-size: 20px;
    color: black;
}

.section__form__input {
    width: auto;
    font-size: 20px;
    color: black;
}

.footer__ul__li {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline;
    text-align: right;
    display: inline;
    margin-right: 50px;
}

:root {
    --header-color:#0d5d56; /*#0d5d56*/
    --presentacion-color:#c994cd;/*#8fd5a6*/
    --footer-color::#0d5d56;
    --body-color:#c994cd;
    --linea-color:#112631;
    --contenido-color:#9aacab;
}


@font-face {
    font-family: "Segoe UI";
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
    src: url('./segoe-ui-4-cufonfonts/Segoe\ UI.ttf') format('truetype');
}

html {
    margin:0%;
    padding:0%;
}

body {
    margin:0%;
    padding:0%;
    background-color: var(--body-color);
    font-family: "Segoe UI", "PT Sans", Calibri, Tahoma, sans-serif;
}


header {
    background-color:var(--header-color); 
    height: 60px;
}

#logo {
    height:100%;
}

header * {
    display:inline;
    vertical-align: middle;
    color:black;
}


#links {
    position:absolute;
    right:0px;
    top:2%;
}

#links a {
    margin-right:50px;

}

#links a:hover {
    margin-right:48px;
    font-weight: bold;
}

#linea {
    background-color: var(--linea-color);
    height: 8px;
}

.menu > li{
    position: relative right;
    display: inline-block;

}

.menu > li > a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    padding: 10px 10px;

}

.menu > li:hover>.sub-menu{
    opacity: 1;
    visibility:visible;
}

.menu li a:hover{
    color: darkolivegreen;
}

/*submenu desplegable dentro de "nuestros cursos"*/

.sub-menu{
    position: absolute;
    background-color: rgb(41, 60, 39);
    width:70% ;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    
}

.sub-menu > li > a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 10px 10px;
    

}